body {
  font-family: Arial, sans-serif;
  background: #f3f5f7;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container {
  background: #fff;
  width: 450px;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  font-size: 15px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

#btnCadastrar {
  background: #4caf50;
  color: white;
}
#btnCadastrar:hover {
  background: #449d48;
}

#btnAtualizar {
  background: #007bff;
  color: white;
}
#btnAtualizar:hover {
  background: #0069d9;
}

hr {
  margin: 25px 0;
}

#lista p {
  background: #f6f6f6;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

#lista b {
  color: #222;
}

#lista button {
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 6px;
}

#lista button:first-of-type {
  background: #ffc107;
  color: #333;
}

#lista button:last-of-type {
  background: #dc3545;
  color: white;
}

.container-principal {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.container-servico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container-nome {
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 20%;
}

.container-descricao {
  color: #555;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 40%;
  gap: 10%;
}

.container-botoes {
  display: flex;
  justify-content: flex-end;
}

.btn-editar,
.btn-excluir {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-editar {
  background-color: #4caf50;
  color: white;
}

.btn-excluir {
  background-color: #f44336;
  color: white;
}
